.idea/

__pycache__/
multiple_simulations.sh
run_script.sh
EDDIE_server/
comms/bottleneck512_ngen10000_nagt10_len10_trial{10}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{1}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{2}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{3}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{4}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{5}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{6}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{7}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{8}.out.npy
comms/bottleneck512_ngen10000_nagt10_len10_trial{9}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{10}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{1}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{2}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{3}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{4}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{5}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{6}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{7}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{8}.out.npy
comms/bottleneck715_ngen10000_nagt10_len10_trial{9}.out.npy
comms/bottleneck715_ngen1000_nagt10_len10.out.npy
comms/bottleneck715_ngen500_nagt10_len10.out.npy
